*{
    margin: 0px;
    padding: 0px;
}

#gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    
    "na na na"
    "em ma e2"
    "fo fo fo"
    ;
}
nav{
    position: relative;
    z-index: 10;
    grid-area: na;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 80 );
    background-color: white;

}
#empty{
    grid-area: em;
    background-color: red;
}
#empty2{
    grid-area: e2;
    background-color: red;
}
footer{
    grid-area: fo;
    background-color: green;
}
.main-innerGridwrapp{
    grid-area: ma;
    background-color: yellow;
    border-radius: 10px 10px 10px 1px;
}

/* över här har jag main utseendet för första sidan */
/* underhär tänker jag fixa med naven */

.navflex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#loggotyp{
    height: auto;
    width: 130px;

}
 /* här är menynsidan */
#gridwrapper{
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    
    "na na na"
    "em ma e2"
    "em me e2"
    "fo fo fo"
    ;
 
}
#meny{
    grid-area: me;
    background: lightblue;
    display:flex;
    justify-content: space-around;
}
.bilbilder{
    height: 100px;
    width: auto;
}