*{
    margin: 0px;
    padding: 0px;
}

#gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    
    "na na na"
    "em ma e2"
    "fo fo fo"
    ;
}
nav{
    grid-area: na;
    background-color: blue;
}
#empty{
    grid-area: em;
    background-color: red;
}
#empty2{
    grid-area: e2;
    background-color: red;
}
footer{
    grid-area: fo;
    background-color: green;
}
.main-innerGridwrapp{
    grid-area: ma;
    background-color: yellow;
}

/* över här har jag main utseendet för första sidan */
/* underhär tänker jag fixa med naven */

.navflex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#loggotyp{
    height: auto;
    width: 130px;

}