*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

#gridwrapper{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas: 
    
    "na na na"
    "em ma e2"
    "fo fo fo"

    ;
    margin: 0;
    background-image: url(../misc/bakgrund.jpg);
    background-size: cover;
}
nav{
    position: relative;
    z-index: 10;
    grid-area: na;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 80 );
    background-color: white;
}
#empty{
    grid-area: em;
}
#empty2{
    grid-area: e2;

}
.tom{
    background: rgba(0, 0, 0, 0);
}
footer{
    grid-area: fo;
    background-color: darkslategray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-innerGridwrapp{
    grid-area: ma;
    background-color: #7a0b1f;
    border-radius: 50px 50px 50px 50px;
    margin: 10px;
    padding: 30px;
    display: grid;
    grid-template-areas: 
    
    "txt txt"
    "im1 im2"
    "im3 im4"
    
    ;
}

/* över här har jag main utseendet för första sidan */
/* underhär tänker jag fixa med naven */

.navflex{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navboxen{
    width: 50px;
    height: 50px;
    color: darkslategray;
}

#loggotyp{
    height: auto;
    width: 130px;

}
#hemknapp{
    width: 60px;
    height: auto;
    margin: 20px;

}


 /* här är menynsidan */
#gridwrapper{
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns: 0.6fr 4fr 0.6fr;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-areas: 
    
    "na na na"
    "em ma e2"
    "em me e2"
    "fo fo fo"
    ;
 
}
#mat_meny{
    grid-area: me;
    background: lightblue;
    display:flex;
    justify-content: space-around;
    border-radius: 50px 50px 50px 50px;
    margin:10px;
}
/* bilder i menyn*/
.bilbilder{
    height: 180px;
    width: auto;
    margin: 10px;
    box-shadow: 5px 5px 30px 5px rgba(0, 0, 0, 80 );
}
#img1{
grid-area: im1;
}
#img2{
grid-area: im2;
}
#img3{
grid-area: im3;
}
#img4{
grid-area: im4;
}
/* Här under är det lite styling med text */

a {
    color: black;
    text-decoration: none;
}

a:hover 
{
     color:black; 
     text-decoration:none; 
     cursor:pointer;  
}